<mat-dialog-content class="add-file-container">
  <h2 mat-dialog-title>
    <mat-icon>description</mat-icon>
    {{ fileData.id ? "Editare Dosar" : "Adauga Dosar" }}
  </h2>

  <form #fileForm="ngForm" class="file-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Numar Dosar</mat-label>
      <input
        matInput
        placeholder="Enter file number"
        [(ngModel)]="fileData.fileNumber"
        name="fileNumber"
        required
      />
      <mat-error *ngIf="!fileData.fileNumber"
        >File number is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nume Client</mat-label>
      <mat-select [(ngModel)]="fileData.client" name="client" required>
        <mat-option *ngFor="let client of clients" [value]="client">
          {{ client.firstName }} {{ client.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!fileData.client.id">Client is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tip Dosar</mat-label>
      <input
        matInput
        placeholder="Enter file type"
        [(ngModel)]="fileData.tipDosar"
        name="tipDosar"
        required
      />
      <mat-error *ngIf="!fileData.tipDosar">File type is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Detalii</mat-label>
      <textarea
        matInput
        placeholder="Enter details"
        [(ngModel)]="fileData.details"
        name="details"
        rows="3"
      ></textarea>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()" class="cancel-btn">Anuleaza</button>
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="fileForm.invalid"
        cdkFocusInitial
      >
        {{ fileData.id ? "Salveaza" : "Adauga" }}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
