<div class="table-container mat-elevation-z8">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openAddFileDialog()">
      <mat-icon>add</mat-icon>
      Adauga dosar
    </button>
  </div>

  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dosare" class="full-width-table">
    <!-- Număr Dosar Column -->
    <ng-container matColumnDef="numarDosar">
      <th mat-header-cell *matHeaderCellDef>Număr dosar</th>
      <td mat-cell *matCellDef="let file">
        {{ file.fileNumber }}
      </td>
    </ng-container>

    <!-- Nume Client Column -->
    <ng-container matColumnDef="numeClient">
      <th mat-header-cell *matHeaderCellDef>Nume client</th>
      <td mat-cell *matCellDef="let file">
        {{ file.clientName }}
      </td>
    </ng-container>

    <!-- Obiect Dosar Column -->
    <ng-container matColumnDef="obiectDosar">
      <th mat-header-cell *matHeaderCellDef>Obiect dosar</th>
      <td mat-cell *matCellDef="let file">
        {{ file.details }}
      </td>
    </ng-container>

    <!-- Sedinte Column -->
    <ng-container matColumnDef="sedinte">
      <th mat-header-cell *matHeaderCellDef>Sedinte</th>
      <td mat-cell *matCellDef="let file">
        <div *ngIf="file.sedinte && file.sedinte.length > 0">
          <div
            *ngFor="let sedinta of file.sedinte; let i = index"
            [matTooltip]="sedinta.solutieSumar"
          >
            {{ i + 1 }}. {{ sedinta.solutie }}
          </div>
        </div>
        <div *ngIf="!file.sedinte || file.sedinte.length === 0">N/A</div>
      </td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td mat-cell *matCellDef="let file">
        {{ file.notes || "N/A" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
      <td mat-cell *matCellDef="let file" class="text-center">
        <button
          mat-icon-button
          color="primary"
          (click)="editFile(file)"
          matTooltip="Edit file"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteFile(file)"
          matTooltip="Delete file"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- No data message -->
  <div class="no-data-message" *ngIf="!isLoading && dosare.length === 0">
    No files found.
  </div>
</div>
