<div class="card-container">
  <!-- Buton fixat în colțul stâng sus -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openAddFileDialog()">
      <mat-icon>add</mat-icon>
      Adauga dosar
    </button>
  </div>

  <!-- Titlu "Dosare" cu simbol -->
  <div class="title-container">
    <h1>Dosare</h1>
    <mat-icon>folder</mat-icon>
  </div>

  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Card Display -->
  <div *ngIf="!isLoading && dosare.length > 0" class="file-cards">
    <mat-card *ngFor="let file of dosare">
      <mat-card-header>
        <mat-card-title
          ><strong>Număr Dosar:</strong> {{ file.fileNumber }}</mat-card-title
        >
        <mat-card-subtitle
          ><strong>Nume și Prenume:</strong>
          {{ file.clientName }}</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content *ngIf="file.showDetails">
        <p><strong>Număr Dosar:</strong> {{ file.fileNumber }}</p>
        <p><strong>Nume și Prenume:</strong> {{ file.clientName }}</p>
        <p><strong>Obiect Dosar:</strong> {{ file.details || "N/A" }}</p>

        <div *ngIf="file.sedinte && file.sedinte.length > 0">
          <p><strong>Sedinte:</strong></p>
          <div
            *ngFor="let sedinta of file.sedinte; let i = index"
            [matTooltip]="sedinta.solutieSumar"
          >
            {{ i + 1 }}. {{ sedinta.solutie }}
          </div>
        </div>
        <div *ngIf="!file.sedinte || file.sedinte.length === 0">
          <p><strong>Sedinte:</strong> N/A</p>
        </div>

        <p><strong>Notes:</strong> {{ file.notes || "N/A" }}</p>
      </mat-card-content>

      <mat-card-actions class="text-center">
        <button
          mat-icon-button
          color="primary"
          (click)="editFile(file)"
          matTooltip="Edit file"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteFile(file)"
          matTooltip="Delete file"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <!-- Vezi Detalii/Ascunde Detalii -->
        <button mat-raised-button color="accent" (click)="toggleDetails(file)">
          {{ file.showDetails ? "Ascunde detalii" : "Vezi detalii" }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- No data message -->
  <div class="no-data-message" *ngIf="!isLoading && dosare.length === 0">
    No files found.
  </div>
</div>
