<mat-sidenav-container class="example-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" position="end" class="example-sidenav">
    <!-- Close button -->
    <button mat-icon-button (click)="sidenav.close()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>

    <mat-nav-list>
      <a mat-list-item routerLink="/calendar" (click)="sidenav.close()"
        >Calendar</a
      >
      <a mat-list-item routerLink="/dosare" (click)="sidenav.close()">Dosare</a>
      <a mat-list-item routerLink="/clienti" (click)="sidenav.close()"
        >Clienti</a
      >

      <a mat-list-item routerLink="/notification" (click)="sidenav.close()"
        >Notificari</a
      >
      <a mat-list-item routerLink="/notite" (click)="sidenav.close()">Notite</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Sidenav Content -->
  <mat-sidenav-content>
    <!-- Toggle button -->
    <button mat-icon-button (click)="sidenav.toggle()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Content Area -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
