<div class="calendar-wrapper">
  <div class="action-buttons">
    <button
      mat-raised-button
      color="primary"
      class="nav-button add-file-button"
      (click)="openAddFileDialog()"
    >
      <mat-icon>add</mat-icon>
      Adauga Dosar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="nav-button add-file-button"
      (click)="openAddEventDialog()"
    >
      <mat-icon>event</mat-icon>
      Adauga Eveniment
    </button>
  </div>

  <div class="calendar-container">
    <!-- Navigation -->
    <div class="navigation">
      <div class="current-month">
        {{ getCurrentMonthAndYear() }}
      </div>
      <div class="nav-left">
        <button class="nav-button" (click)="prevWeek()" *ngIf="view === 'week'">
          <mat-icon>chevron_left</mat-icon> Săpt. anterioară
        </button>
        <button class="nav-button" (click)="nextWeek()" *ngIf="view === 'week'">
          Săpt. următoare <mat-icon>chevron_right</mat-icon>
        </button>
        <button
          class="nav-button"
          (click)="prevMonth()"
          *ngIf="view === 'month'"
        >
          <mat-icon>chevron_left</mat-icon> Luna anterioară
        </button>
        <button
          class="nav-button"
          (click)="nextMonth()"
          *ngIf="view === 'month'"
        >
          Luna următoare <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="nav-right">
        <button class="nav-button" (click)="toggleView()">
          <mat-icon>{{
            view === "week" ? "calendar_month" : "calendar_view_week"
          }}</mat-icon>
          {{ view === "week" ? "Vezi lunar" : "Vezi săptămânal" }}
        </button>
      </div>
    </div>

    <!-- Weekly View -->
    <div class="calendar-grid" *ngIf="view === 'week'">
      <div
        class="calendar-day"
        *ngFor="let day of weeksInView[currentWeekIndex]"
        (click)="selectDay(day)"
      >
        <div class="day-name">{{ getDayName(day) }}</div>
        <div *ngIf="day" [class.today]="isToday(day)">
          {{ day.getDate() }}
        </div>

        <div class="events" *ngIf="day">
          <div
            *ngFor="let event of getEventsForDay(day)"
            class="event"
            [ngStyle]="{ 'background-color': event.color }"
            (click)="onEventClick(event)"
          >
            <div class="event-details">
              <strong>{{ event.clientName }}</strong>
              <div>{{ event.fileNumber }}</div>
              <div>{{ getOraFromDescription(event.description) }}</div>
              <div>{{ getInstantaFromDescription(event.description) }}</div>
            </div>
          </div>

          <div
            *ngFor="let event of getAdditionalEventsForDay(day)"
            class="calendarEvent"
          >
            <div class="event-details">
              <strong>{{ event.description }}</strong>
              <div>{{ event.start | date : "HH:mm" }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Monthly View -->
    <div class="calendar-grid" *ngIf="view === 'month'">
      <div
        class="calendar-day"
        *ngFor="let day of daysInView"
        (click)="selectDay(day)"
      >
        <div class="day-name">{{ getDayName(day) }}</div>
        <div *ngIf="day" [class.today]="isToday(day)">
          {{ day.getDate() }}
        </div>

        <div class="events" *ngIf="day">
          <div
            *ngFor="let event of getEventsForDay(day)"
            class="event"
            [ngStyle]="{ 'background-color': event.color }"
            (click)="onEventClick(event)"
          >
            <div class="event-details">
              <strong>{{ event.clientName }}</strong>
              <div>{{ event.fileNumber }}</div>
              <div>{{ getOraFromDescription(event.description) }}</div>
              <div>{{ getInstantaFromDescription(event.description) }}</div>
            </div>
          </div>

          <div
            *ngFor="let event of getAdditionalEventsForDay(day)"
            class="calendarEvent"
          >
            <div class="event-details">
              <div>{{ event.start | date : "HH:mm" }}</div>
              <strong>{{ event.description }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
