.card-container {
  margin: 20px;
  position: relative;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 50px;  /* Spatiu pentru a nu se suprapune cu butonul */
}

.title-container mat-icon {
  margin-left: 10px; /* Optional space between title and icon */
}

.client-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.client-card {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-header {
  background-color: #f5f5f5;
}

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle {
  color: #666;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
