<div class="card-container mat-elevation-z8">
  <!-- Button fixed in the top left corner -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openAddClientDialog()">
      <mat-icon>person_add</mat-icon>
      Adauga client
    </button>
  </div>

  <!-- Title for Clients -->
  <div class="title-container">
    <h2>Clienti</h2>
    <mat-icon>person</mat-icon>
    <!-- Optional icon beside title -->
  </div>

  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Client Cards Display -->
  <div *ngIf="!isLoading && clienti.length > 0" class="client-cards">
    <mat-card *ngFor="let client of clienti" class="client-card">
      <mat-card-header>
        <mat-card-title
          >{{ client.firstName }} {{ client.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ client.email }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions class="text-center">
        <button mat-icon-button color="primary" matTooltip="Edit client">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete client">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- No data message -->
  <div class="no-data-message" *ngIf="!isLoading && clienti.length === 0">
    Nu exista clienti.
  </div>
</div>
